[{ocs,
    [{diameter,
         [{acct,
              [{{0,0,0,0}, 3868,
                 [{'Origin-Host', "ocs.localdomain"},
                  {'Origin-Realm', "localdomain"},
                  {sub_id_type, [imsi, msisdn]},
                  {application_id, 4}]}]}]},

      %% Default reservation used when the peer does not send
      %% Requested-Service-Unit.
      {min_reserve_octets, 10000000},
      {min_reserve_seconds, 60},
      {min_reserve_messages, 1},

      %% Explicit peer request policy:
      %% - requested: use Requested-Service-Unit as the base grant
      %% - fixed: ignore Requested-Service-Unit and use explicit_reserve_*
      {explicit_reserve_policy, requested},
      {explicit_reserve_octets, undefined},
      {explicit_reserve_seconds, undefined},
      {explicit_reserve_messages, undefined},

      %% Maximum reservation returned in a single grant.
      %% Best used with explicit_reserve_policy = requested.
      {max_reserve_octets, 10000000},
      {max_reserve_seconds, undefined},
      {max_reserve_messages, undefined},

      %% Enable only while investigating session charging behavior.
      {session_debug_logs, false},
      %% Enable only while investigating scheduler renewal behavior.
      {scheduler_debug_logs, false},

      {acct_log_rotate, 1440},
      {acct_log_rotate_time, {4,4,4}},
      {acct_log_dir, "log/acct"},
      {auth_log_dir, "log/auth"},
      {abmf_log_dir, "log/abmf"},
      {ipdr_log_dir, "log/ipdr"},
      {export_dir, "log/export"},
      {tls_key, "ssl/key.pem"},
      {tls_cert, "ssl/cert.pem"},
      {tls_cacert, "ssl/ca.pem"}]},
 {mnesia,
    [{dir, "db"}]},
 {snmp,
    [{agent,
         [{config, [{dir, "snmp/conf"}]},
          {db_dir, "snmp/db"}]}]},
 {inets,
    [{services,
         [{httpd,
              [{server_name, "ocs"},
               {directory_index, ["index.html"]},
               {directory, {"/schema", []}},
               {directory, {"/doc", []}},
               {directory, {"/health", []}},
               {directory, {"/partyRoleManagement", []}},
               {directory, {"/",
                    [{auth_type, mnesia},
                     {auth_name, "ocs.sigscale.org"},
                     {require_group, ["staff"]}]}},
               {transfer_disk_log, "log/http/transfer"},
               {security_disk_log, "log/http/security"},
               {error_disk_log, "log/http/error"},
               {transfer_disk_log_size, {10485760, 10}},
               {error_disk_log_size, {10485760, 10}},
               {security_disk_log_size, {10485760, 10}},
               {disk_log_format, internal},
               {modules,
                    [mod_alias,
                     mod_auth,
                     mod_responsecontrol,
                     mod_ocs_rest_accepted_content,
                     mod_ocs_rest_get,
                     mod_get,
                     mod_ocs_rest_head,
                     mod_ocs_rest_post,
                     mod_ocs_rest_patch,
                     mod_ocs_rest_delete,
                     mod_disk_log]},
               {mime_types,
                    [{"html", "text/html"},
                     {"css", "text/css"},
                     {"js", "application/javascript"},
                     {"json", "application/json"},
                     {"jsonld", "application/linkset+json; profile=\"https://www.rfc-editor.org/info/rfc9727\""},
                     {"svg", "image/svg+xml"},
                     {"png", "image/png"},
                     {"csv", "text/csv"}]},
               {port, 8080},
               {socket_type, ip_comm},
               {server_root, "./"},
               {alias, {"/doc", "lib/@PACKAGE@-@VERSION@/doc"}},
               {alias, {"/schema", "lib/@PACKAGE@-@VERSION@/priv/schema"}},
               {alias, {"/.well-known/api-catalog",
                    "lib/@PACKAGE@-@VERSION@/priv/schema/api-catalog.linkset.jsonld"}},
               {document_root, "lib/@PACKAGE@-@VERSION@/priv/www"}]}]}]}].
